.container
  display block
  width 100%
  margin-bottom 1.5em
  margin-top .7em

  .fieldContainer

  .field
    color white

    fieldset
      border-color: white !important

  .input
    border-radius 4px

  .focused
    label
      color var(--color-1) !important
    fieldset
      border-color var(--color-1) !important
  &>*
    display block
    width 100%