.container
  background rgba(61, 61, 61, 0.92)
  padding 2em 4em
  display grid
  grid-template-columns 1fr 1fr
  gap 4em
  position fixed
  width 90%
  height max-content
  max-height 90%
  left 5%
  top 12em
  z-index 1000
  
  .fields
    display block