.siteHeader
  background var(--background-1)
  padding-left 1em
  padding-right 2em
  display flex
  flex-flow row

.logo
  margin 1em 0

.navigation
  margin-left auto
  display flex
  background none
  box-shadow none
  flex-flow row
  height auto

  .menu
    margin-left auto
    height auto

    li
      height 100%
      display flex


.pageBar
  background #4C4C4C
  color white
  padding 1.5em var(--wrap-padding)
  .pageTitle
    text-transform uppercase
    font-weight 900
    font-size 1.5em