@import '~materialize-css/dist/css/materialize.min.css';

.react-flow__attribution {
  display: none !important
}

:root {
  --background-1: #191919;
  --background-2: #222222;
  --color-1: #E32879;
  --gradient-1: linear-gradient(270deg, #9729B8 0%, #E32879 100%);

}

*::-webkit-scrollbar {
	width: 0.3vw;
	height: 0.3vw;
}
 
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#root {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background: var(--background-2);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.other-auth-link {
  margin-left: 2em;
}